<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('parts/script') %>
  </head>
  <body>
    <%- include('parts/navbar', {session: session}) %>
    <main class="flex flex-col justify-start items-center p-8">
      <h1 class="text-3xl font-bold">Disease Detail</h1>
      <div class="card bg-base-100 w-1/3 shadow-sm card-xl mt-4">
        <div class="card-body">
          <h2 class="card-title"><%= disease.name %></h2>
          <ul class="list bg-base-100">
            <li class="list-row">
              <h3 class="text-lg font-bold h-8 flex items-center w-30">
                Description
              </h3>
              <div>
                <!-- <div>Dio Lupa</div> -->
                <div
                  class="text-md h-8 font-semibold flex items-center opacity-80"
                >
                  <%= disease.description %>
                </div>
              </div>
            </li>

            <li class="list-row">
              <h3 class="text-lg font-bold h-8 flex items-center w-30">
                Level
              </h3>
              <div>
                <!-- <div>Dio Lupa</div> -->
                <div
                  class="text-md h-8 font-semibold flex items-center opacity-80"
                >
                  <%= disease.level %>
                </div>
              </div>
            </li>

            <li class="list-row">
              <h3 class="text-lg font-bold h-8 flex items-center w-30">
                Symptoms
              </h3>
              <div>
                <!-- <div>Dio Lupa</div> -->
                <table
                  class="table text-md h-8 font-semibold flex items-center opacity-80"
                >
                  <tbody>
                    <% disease.Symptoms.forEach(element => { %>
                     <tr>
                      <td><%= element.name %></td>
                     </tr>
                    <% }) %>
                  </tbody>
              </table>
              </div>
            </li>
          </ul>
          <div class="card-actions justify-end">
            <a href="/manage/diseases">
              <button class="btn btn-primary">Back to Diseases</button>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
